<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p class="footer-copyright">Copyright © AGNTCY a Series of LF Projects, LLC</p>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          {%- if site.github_url -%}
          <li>
            <a href="{{ site.github_url }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
              <span class="username">GitHub</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.linkedin_url -%}
          <li>
            <a href="{{ site.linkedin_url }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
              <span class="username">LinkedIn</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.youtube_url -%}
          <li>
            <a href="{{ site.youtube_url }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg>
              <span class="username">YouTube</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.slack_url -%}
          <li>
            <a href="{{ site.slack_url }}">
              <svg class="svg-icon" viewBox="0 0 16 16" fill="currentColor">
                <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111c0-.926.756-1.681 1.681-1.681h1.681v1.68zm.846 0c0-.926.756-1.681 1.681-1.681s1.681.756 1.681 1.681v4.21c0 .926-.756 1.681-1.681 1.681s-1.681-.756-1.681-1.681v-4.21zM5.89 3.362c-.926 0-1.681-.756-1.681-1.681S4.964 0 5.89 0s1.681.756 1.681 1.681v1.681H5.89zm0 .846c.926 0 1.681.756 1.681 1.681s-.756 1.681-1.681 1.681H1.68C.756 7.57 0 6.814 0 5.889s.756-1.681 1.681-1.681h4.21zm6.749 1.681c0-.926.756-1.681 1.681-1.681S16 4.964 16 5.889s-.756 1.681-1.681 1.681h-1.681V5.89zm-.846 0c0 .926-.756 1.681-1.681 1.681s-1.681-.756-1.681-1.681V1.68C8.43.756 9.186 0 10.111 0s1.681.756 1.681 1.681v4.21zm-1.681 6.749c.926 0 1.681.756 1.681 1.681S11.036 16 10.111 16s-1.681-.756-1.681-1.681v-1.681h1.681zm0-.846c-.926 0-1.681-.756-1.681-1.681s.756-1.681 1.681-1.681h4.21c.926 0 1.681.756 1.681 1.681s-.756 1.681-1.681 1.681h-4.21z"/>
              </svg>
              <span class="username">Slack</span>
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col">
        <p class="footer-description">{{- site.description | escape -}}</p>
      </div>

    </div>
  </div>

</footer>
